body {
  margin: 0;
}

.ui {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1vw;
  width: vmin;
}

.edge-model {
  grid-column: 1 / 4;
  grid-row: 1;
  display: grid;
  align-items: center;
  z-index: 10;
}

.edges:hover {
  opacity: 1;
}
.edges {
  opacity: 0;
  stroke: #ec008c;
  stroke-width: 3px;
}

.params {
  grid-column: 4 / 5;
  grid-row: 1;
  background-color: lightgrey;
  margin: 1vmin;
  border-radius: 2vmin;
}
.params > form {
  margin: 1vmin;
}

.output {
  grid-column: 1 / 4;
  grid-row: 1;
  display: grid;
  align-items: center;
  z-index: 0;
}
